# --- For-Bot-Working --------- #
pyrofork
TgCrypto



# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow

# --- For-Web-Response ------- #
aiohttp
pytz
requests
bs4
shortzy
aiofiles
asyncio


# --- For-env-variables ------- #
python-dotenv

requests
